

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row my-4">

            <!--First column-->
            <div class="col-md-4 col-lg-4">
                <a class="dropdown-item" asp-action="Contact" asp-controller="Home">Contact</a>
                <a class="dropdown-item" asp-action="PriPolicy" asp-controller="Home">Privacy Policey</a>
                <a class="dropdown-item" asp-action="TOfUse" asp-controller="Home">Term of Use</a>
                <a class="dropdown-item" asp-action="ComBg" asp-controller="Home">Background</a>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
          
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-4 col-lg-4">
                <h5 class="text-uppercase mb-4 font-weight-bold">Address</h5>
                <!--Info-->
                <p>
                    <i class="fa fa-home mr-3"></i> 82 July Ave, North Sydney, NSW
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> getawaytravels@gmail.com.au
                </p>
                <p>
                    <i class="fa fa-phone mr-3"></i> 02 98335566
                </p>
                
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Fourth column-->
            <div class="col-md-2 col-lg-2 text-center float-right">
                <h5 class="text-uppercase mb-4 font-weight-bold">Follow Us</h5>
                <!--Social buttons-->
                <div class="mt-2">
                    <!--Facebook-->
                    <a class="btn-floating btn-small btn-fb">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <!--Twitter-->
                    <a class="btn-floating btn-small btn-tw">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <!--Google +-->
                    <a  class="btn-floating btn-small btn-gplus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <!--Dribbble-->
                    <a  class="btn-floating btn-small btn-dribbble">
                        <i class="fa fa-dribbble"></i>
                    </a>
                </div>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="#"> GAT.com </a>
    </div>
    <!--/.Copyright-->



