@model FeedbackAddViewModel

<div class="col-md-4 mx-md-auto mt-5">
    <h3 class="text-danger font-weight-bold">Would you like to Write Your Feedback Here</h3>

    <form a sp-action="Add" asp-controller="Feedback" method="post">

        <div asp-validation-summary="ModelOnly"></div>


        <div class="form-group font-weight-bold">
            @*<label asp-for="OrdFeedback">Feedback</label>*@
            <input asp-for="OrdFeedback" class="form-control" />
            <input asp-for="OrderId" />
            <input asp-for="PackageId"  />
            <span asp-validation-for="OrdFeedback"></span>
        </div>

        <div>
            <input class="btn btn-outline-primary" type="submit" value="Save" />
            <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Customer">No Thanks</a>
        </div>
        <div>
            
        </div>
    </form>
</div>

