
<divv class="m-2">
    <h2>Company Background</h2>
    <br />
    <br />
    <br />
    <p>
        This Website was developed in 12 June 2018 by Ahmad Rashed Elham,<br />
        under supper vision and coopration of the Instructors: Allan, Shanty and Adam.<br />
        The website provides services to travelers and travel providers.<br />

    </p>
</divv>

