
<div class="m-2">
    <h1>Contact us:</h1>
    <br />
    <br />
    <p>Address: 82 Julye Ave, North Sydney, NSW</p>
    <p> Email: getawaytravels@gmail.com.au</p>
    <p>Phone: 02 98335566</p>
</div>
