

<divv class="m-2">
    <h2>Terms of Use</h2>
    <br />
    <br />
    <br />



    <p>
        The page provides a quick and clear summary of their agreement:

        Here is a Summary of Get Away Travel’s Terms of Use:
        <br />
        You must be at least 13 years old to open a Pandora account.<br />

        This website can be used only for booking and posting travel packages.<br />

        can only be used in the world wide.<br />

        You are solely responsible for protecting your own account password and other account information.<br />

    </p>







</divv>


