<!-- #region Customer Update Form  -->
@model CustomerPasswordUpdateViewModel 

<div class="col-md-4 mx-md-auto mt-5">
    <h1>Customer Password Update</h1>

    <form asp-action="PasswordUpdate" asp-controller="Customer" method="post">

        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group font-weight-bold">
            <i class="fa fa-user mr-2"></i><label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName"></span>
        </div>

        <div class="form-group font-weight-bold">
            <i class="fa fa-key mr-2" aria-hidden="true"></i><label asp-for="OldPassword"></label>
            <input type="password" asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword"></span>
        </div>
        <div class="form-group font-weight-bold">
            <i class="fa fa-key mr-2" aria-hidden="true"></i><label asp-for="NewPassword"></label>
            <input type="password" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword"></span>
        </div>

        <div class="form-group font-weight-bold">
            <i class="fa fa-key mr-2" aria-hidden="true"></i><label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div>
            <input type="submit" value="Save" class="btn btn-outline-primary" />
        </div>
    </form>
</div>